.name-text {
    font-weight: bold;
}

.prof-text {
    color: rgb(201, 29, 29);
}

.city-text {
    font-style: italic;
}



.client-text {
    font-weight:bold;
    color:blue;
    
}


.internet-text {
    text-transform: uppercase;
}


.browser-text {
    font-style:italic;
    color: orange;
}

.server-text {
    font-weight:bold;
    color: red;  
}