
body {
    margin: 0;
    padding: 0;
}

header{
    height: 400px;
    background-color: #d0d1d3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://avatars.mds.yandex.net/i?id=5f737b753ddb8d2216165ad540ab8cff_l-5163110-images-thumbs&n=13');
    background-size:cover;
}
h1{ 
    color:white;
    font-size: 8rem;
    font-family:'Times New Roman', Times, serif;  
}

h2 { 
    font-family:'Times New Roman', Times, serif;  
    text-transform: uppercase;
    margin: -17px 0 0 15px;
    letter-spacing: .5rem;
   
}
.newads::before {/*применен псевдокласс к двум первым новостям*/
    content: "New";
    padding: 0 10px 0 0;
    color:#E13917;
    font-style: italic; 
    text-transform: capitalize;
  }
  article:nth-child(even) { /*применен псевдоэлемент к каждой второй новости*/
    background: #FEF8DF;
  }
  
.news {
background-color: #fff;
padding: 50px 0 32px;
}   
article {
width: 768px;
margin: 0 auto 32px;
padding: 6px 15px;
border-bottom: 1px solid rgb(128, 128, 128);
}
article a {
    color:rgb(33, 47, 41);
    text-decoration: none; 
}

article a:hover{
    color:#325FA9; 
    
}

article h3{
  font-family: "Segoe UT" Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.article-meta  {
    color:#CCC4BE;
    margin-bottom: 5px;
}

article img{
width: 100%;
height: 300px;
object-fit: cover;

}

footer{
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}
footer .links > a {
    color:rgb(57, 30, 210);
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
   text-decoration: none; /*отключили подчеркивание под текстом*/
   text-transform: uppercase;
}
.copyright{
    margin-block: 50px;
    color:rgb(226, 107, 43);
    font-family:'Times New Roman', Times, serif;
}