/*создаем фон для всей страницы через body*/
body {
    background-color: rgb(0, 255, 204);
}
/*напишем для selection. Селектор идентификатора 
начинается с #*/
/*#about { Закрыли потомучто указали его в групповом селекторе
padding: 10px;
border: 1px solid black; создадим рамку
}*/

/*Групповой селектор. Когда некоторые стили 
повторяются*. Удобно для сокращения кода*/
#contacts, #about {
    padding: 10px;
    border: 1px solid black; /*создадим рамку*/
}

/*селектор класса начинается с точки*/
.more {
  color:rgb(226, 43, 122);
    /*создадим для гиперсылки другой цвет*/
 text-decoration: none; /*убрали подчеркивание*/
}
/*для другого section с id="contacts". 
Это селектор атрибута*/
[type="text"] {
    margin: bottom 10px;
}

[type="submit"] {
    padding: 10px;
}
#contacts {
   /* padding: 10px; закрыли потому что указали его в групповом селекторе
border: 1px solid black; создадим рамку*/
margin-top: 20px;/*для отступа между абзатцами*/
}

